@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
}
header {
    background: linear-gradient(#FF1493, black);
    padding: 20px;
}
h1 {
    text-align: center;
    margin: 15px;
    font-family: "Cocogoose", sans-serif;
}
nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}
nav a {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}
nav a:hover {
    transform: scale(1.2);
    cursor: pointer;
}
hr {
    color: white;
}
.subTitles {
    margin: 10px;
}
#agendar div p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
#subtitulo {
    margin: 0px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
#divTitulo {
    /*background: linear-gradient(#ff1491, #000000);*/
    text-align: center;
    background-size: 100% 100%;
}
#agendarAgora {
    text-decoration: none;
    color: white;
    background-color: #FF1493;
    border-radius: 20px;
    border: 2px solid white;
    padding: 10px;
    display: inline-block;
    margin-top: 10px;
}

/* trazendo as fonte da pasta */
@font-face {
    font-family: "Cocogoose";
    src: url("Fonts/Cocogoose-Pro-Semilight-trial.ttf");
}